body {
    background-image: url(./background.jpg);
    font-family: 'Bungee', cursive;
}

.jumbotron {

    background-color: rgb(99, 96, 96);
    border: 3px solid rgb(82, 14, 54);
    color: rgb(14, 14, 82);
    text-align: center;
    font-family: 'Faster One', cursive;
    padding: 45px;
    margin-bottom: 15px;
}

#schedule-container, #form-container {
    border: 3px solid rgb(82, 14, 54);
    background-color: rgb(99, 96, 96);
    margin-bottom: 15px;
}

.container {
    width: 85%;
}

header {
    font-family: 'Bungee Inline', cursive;
    background-color: rgb(14, 14, 82);
    color: rgb(99, 96, 96);
    font-size: 30px; 
    padding: 15px;
}

form {
    padding: 10px;
}

.form-control {
    color: rgb(82, 14, 54);
}

input:placeholder {
    color: rgb(82, 14, 54)
}

.btn {
    background-color: rgb(14, 14, 82);
    border: none;
}

.btn:hover {
    background-color: rgb(82, 14, 54);
}

label {
    color: rgb(82, 14, 54);
}

.form-control::placeholder {
    color: rgb(82, 14, 54);
    opacity: .3;
}

/* 
font-family: 'Bungee Inline', cursive;
font-family: 'Faster One', cursive;
font-family: 'Bungee', cursive; */